html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

}

.header {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.listItem {
  margin: 0 20px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: 800;
  cursor: pointer;
}

.listItemActive {
  background-color: teal;
}

.content {
  padding: 5px;
}

.unvisible {
  display: none;
}
